<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.ticket.tickettools.dao.AccountInfoDao">
    <resultMap id="BaseResultMap" type="test.ticket.tickettools.domain.entity.AccountInfoEntity">
        <constructor>
            <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="phone_num" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="channel" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="channel_user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="account" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="pwd" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nick_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="id_card" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="id_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="headers" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="yn" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="ext" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="creator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="operator" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="belong_user" javaType="java.lang.Long" jdbcType="BIGINT"/>


        </constructor>
    </resultMap>
    <insert id="insert" parameterType="test.ticket.tickettools.domain.entity.AccountInfoEntity">
        insert into account_info (id, user_name, phone_num, channel,
                               channel_user_id, account, create_date,
                               update_date,status,creator,belong_user)
        values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR},
                #{channel,jdbcType=INTEGER},
                #{channelUserId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP},#{status,jdbcType=BIT},#{creator,jdbcType=VARCHAR},#{belongUser,jdbcType=BIGINT})
    </insert>
    <insert id="insertOrUpdate" parameterType="test.ticket.tickettools.domain.entity.AccountInfoEntity">
        insert into account_info (id, user_name, phone_num, channel,
                               channel_user_id, account, pwd, create_date,
                               update_date, status,headers,ext,creator,operator,belong_user)
        values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR},
                #{channel,jdbcType=INTEGER},
                #{channelUserId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR},
                #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=BIT},#{headers,jdbcType=VARCHAR},#{ext,jdbcType=VARCHAR},
                #{creator,jdbcType=VARCHAR},#{operator,jdbcType=VARCHAR},#{belongUser,jdbcType=BIGINT}
                ) on duplicate key
        update
            user_name=
        values (user_name),
            phone_num=
        values (phone_num),
            channel=
        values (channel),
            channel_user_id=
        values (channel_user_id),
            account=
        values (account),
            pwd=
        values (pwd),
            create_date=
        values (create_date),
            update_date=
        values (update_date),
            status=
        values (status),
            headers=
        values (headers),
            ext=
        values (ext),
            creator=
        values (creator),
            operator=
        values (operator),
            belong_user=
        values (belong_user)
    </insert>
    <select id="selectList" parameterType="test.ticket.tickettools.domain.entity.AccountInfoEntity" resultMap="BaseResultMap">
        select * from account_info
        where yn=0
        <if test="creator != null and creator != ''">
            AND creator = #{creator}
        </if>
        <if test="belongUser != null and belongUser != ''">
            OR (yn = 0 AND belong_user = #{belongUser})
        </if>
    </select>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from account_info
        where id = #{id}
    </select>
    <update id="del" parameterType="java.lang.Long">
        update account_info
        set yn=1,
            update_date=NOW()
        where id = ${id}
    </update>
    <update id="updateByChannelAccount" parameterType="test.ticket.tickettools.domain.entity.AccountInfoEntity">
        update account_info
        <set>
            <if test="ext!=null">
                ext=#{ext},
            </if>
            <if test="headers!=null">
                headers=#{headers},
            </if>
            <if test="updateDate!=null">
                update_date=#{updateDate},
            </if>
            <if test="channelUserId!=null">
                channel_user_id=#{channelUserId}
            </if>
        </set>
        where channel = #{channel} and account = #{account} and yn=0
    </update>
</mapper>
