<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.ticket.tickettools.dao.TaskDetailDao">
    <resultMap id="BaseResultMap" type="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        <constructor>
            <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="task_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ID_card" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="user_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="done" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="payment" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="ticket_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="children_ticket" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="order_number" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="yn" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="order_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="price" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <insert id="insert" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        insert into task_detail (id, task_id, user_name,
                                 ID_card, user_phone, age,
                                 create_date, update_date, done, payment, ticket_id, children_ticket)
        values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
                #{idCard,jdbcType=VARCHAR}, #{userPhone,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
                #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{done,jdbcType=BIT},
                #{payment,jdbcType=BIT}, #{ticket_id,jdbcType=BIGINT}, #{children_ticket,jdbcType=BIT})
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into task_detail (task_id, user_name,
        ID_card, user_phone, age,
        create_date, update_date)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.taskId,jdbcType=BIGINT}, #{item.userName,jdbcType=VARCHAR},
            #{item.IDCard,jdbcType=VARCHAR}, #{item.userPhone,jdbcType=VARCHAR}, #{item.age,jdbcType=INTEGER},
            #{item.createDate,jdbcType=TIMESTAMP}, #{item.updateDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <update id="updateTaskDetailBath" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        <foreach collection="list" item="entity" separator=";">
            UPDATE task_detail
            <set>
                <if test='entity.done!=null'>
                    done = #{entity.done,jdbcType=BIT},
                </if>
                <if test='entity.ticketId!=null'>
                    ticket_id = #{entity.ticketId},
                </if>
                <if test='entity.childrenTicket!=null'>
                    children_ticket = #{entity.childrenTicket},
                </if>
                <if test='entity.orderNumber!=null'>
                    order_number = #{entity.orderNumber},
                </if>
                <if test='entity.userName!=null'>
                    user_name=#{entity.userName},
                </if>
                <if test='entity.IDCard!=null'>
                    ID_card = #{entity.IDCard},
                </if>
                <if test='entity.updateDate!=null'>
                    update_date = #{entity.updateDate},
                </if>
                <if test='entity.orderId!=null'>
                    order_id = #{entity.orderId},
                </if>
                <if test='entity.price!=null'>
                    price = #{entity.price}
                </if>
            </set>
            <where>
                1=1
                <if test='entity.id!=null'>
                    and id = #{entity.id}
                </if>
                <if test='entity.taskId!=null'>
                    and task_id = #{entity.taskId}
                </if>
                <if test='entity.IDCard!=null'>
                    and ID_card = #{entity.IDCard}
                </if>
            </where>
        </foreach>
    </update>
    <update id="deleteTaskDetailBath" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        update task_detail set yn =1 where id IN
        <foreach collection="list" item="entity"  open="(" separator="," close=")">
            #{entity.id}
        </foreach>
    </update>
    <select id="selectByTaskId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from task_detail
        where task_id = ${id} and yn=0
    </select>
    <select id="selectUnpaid" resultMap="BaseResultMap">
        select *
        from task_detail
        where done = 1 and payment = 0 and yn=0
    </select>
    <select id="selectByEntity" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity"
            resultMap="BaseResultMap">
        select *
        from task_detail
        where task_id = ${taskId}
          and done = ${done}
          and yn=0
    </select>
    <select id="selectByTaskIdLimit" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from task_detail
        where task_id = ${id}
          and done = 0 and yn=0 limit 5
    </select>
    <update id="updateTaskDetail" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        update task_detail
        <set>
            <if test='payment!=null'>
                payment = #{payment},
            </if>
            <if test='updateDate!=null'>
                update_date = #{updateDate},
            </if>
            <if test='ticketId!=null'>
                ticket_id = #{ticketId},
            </if>
            <if test='orderNumber!=null'>
                order_number = #{orderNumber}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByTaskId" parameterType="java.lang.Long">
        update task_detail set done=1 where task_id= #{taskId}
    </update>
    <update id="updateEntityByTaskId" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        update task_detail
        <set>
            <if test='done!=null'>
                done = #{done},
            </if>
            <if test='updateDate!=null'>
                update_date = #{updateDate},
            </if>
            <if test='orderNumber!=null'>
                order_number = #{orderNumber},
            </if>
            <if test='orderId!=null'>
                order_id = #{orderId}
            </if>
        </set>
        where task_id= #{taskId}
    </update>
    <update id="initTaskDetail" parameterType="test.ticket.tickettools.domain.entity.TaskDetailEntity">
        update task_detail
        <set>
            done = 0,
            payment = 0,
            update_date = null,
            ticket_id = null,
            children_ticket = 0,
            order_number = null
        </set>
        where id IN
        <foreach collection="list" item="entity"  open="(" separator="," close=")">
            #{entity.id}
        </foreach>
    </update>
    <update id="deleteByTaskId" parameterType="java.lang.Long">
        update task_detail set yn=1
        where task_id = #{taskId,jdbcType=BIGINT}
    </update>
</mapper>
