<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.ticket.tickettools.dao.TaskDao">
    <resultMap id="BaseResultMap" type="test.ticket.tickettools.domain.entity.TaskEntity">
        <constructor>
            <arg column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="login_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="use_date" javaType="java.util.Date" jdbcType="DATE"/>
            <arg column="auth" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="done" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="channel" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="venue" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="session" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="yn" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="account" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="nick_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="port" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="user_info_id" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="pwd" javaType="java.lang.String" jdbcType="VARCHAR"/>


        </constructor>
    </resultMap>
    <insert id="insert" parameterType="test.ticket.tickettools.domain.entity.TaskEntity" useGeneratedKeys="true"
            keyProperty="id">
        insert into task (id, login_phone, ip,
                          use_date, auth, create_date,
                          update_date, user_id, channel,
                          venue, session,account,user_info_id,pwd)
        values (#{id,jdbcType=BIGINT}, #{loginPhone,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
                #{useDate,jdbcType=DATE}, #{auth,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
                #{updateDate,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{channel,jdbcType=INTEGER},
                #{venue,jdbcType=INTEGER}, #{session,jdbcType=INTEGER},#{account,jdbcType=VARCHAR},#{userInfoId,jdbcType=BIGINT},#{pwd,jdbcType=VARCHAR})
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from task
        where id = #{id,jdbcType=BIGINT} and yn =0
    </select>
    <select id="getUnDoneTasks" parameterType="test.ticket.tickettools.domain.entity.TaskEntity" resultMap="BaseResultMap">
        select
        *
        from task
        <where>
            done =0
            <if test='useDate!=null'>
                AND use_date = #{useDate}
            </if>
            <if test='channel!=null'>
                AND channel = #{channel}
            </if>
            and yn =0
        </where>
    </select>
    <select id="getAllUnDoneTasks" parameterType="test.ticket.tickettools.domain.entity.TaskEntity" resultMap="BaseResultMap">
        select
        *
        from task
        <where>
            done =0
            <if test='useDate!=null'>
                AND use_date > #{useDate}
            </if>
            <if test='channel!=null'>
                AND channel = #{channel}
            </if>
            and yn =0
        </where>
    </select>
    <select id="fuzzyQuery" parameterType="test.ticket.tickettools.domain.entity.TaskEntity" resultMap="BaseResultMap">
        SELECT * FROM task
        where
        1=1
        <if test='loginPhone!=null and loginPhone!=""'>
            AND login_phone = #{loginPhone}
        </if>
        <if test='useDate!=null'>
            AND use_date = #{useDate}
        </if>
        <if test='account!=null'>
            AND account = #{account}
        </if>
        <if test='channel!=null'>
            AND channel = #{channel}
        </if>
        <if test='userInfoId!=null'>
            AND user_info_id = #{userInfoId}
        </if>
        and yn =0
        order by id DESC
    </select>
    <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
        update task set yn=1
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateTask" parameterType="test.ticket.tickettools.domain.entity.TaskEntity">
        update task
        <set>
            <if test='loginPhone!=null'>
                login_phone = #{loginPhone},
            </if>
            <if test='done!=null'>
                done = #{done},
            </if>
            <if test='userId!=null'>
                user_id = #{userId},
            </if>
            <if test='useDate!=null'>
                use_date = #{useDate},
            </if>
            <if test='auth!=null'>
                auth = #{auth},
            </if>
            <if test='updateDate!=null'>
                update_date = #{updateDate},
            </if>
            <if test='userInfoId!=null'>
                user_info_id = #{userInfoId},
            </if>
            <if test='account!=null'>
                account = #{account},
            </if>
            <if test='ip!=null'>
                ip = #{ip},
            </if>
            <if test='port!=null'>
                port = #{port},
            </if>
            <if test='pwd!=null'>
                pwd = #{pwd}
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateAuthByPhone" parameterType="test.ticket.tickettools.domain.entity.TaskEntity">
        update task
        <set>
            <if test='auth!=null'>
                auth = #{auth},
            </if>
            <if test='updateDate!=null'>
                update_date = #{updateDate},
            </if>
            <if test='updateDate!=null'>
                update_date = #{updateDate},
            </if>
            <if test='userId!=null'>
                user_id = #{userId}
            </if>
        </set>
        where account = #{account}
    </update>
</mapper>
